<table align="center" class="container mailHeader">
  <tbody bgcolor="#f05922" style="border-radius: 10px;">
    <tr style="border-radius: 10px;">
      <td style="border-radius: 10px;">
        <img
          style="width: 100%;"
          src="../assets/img/header-img-top.png"
          alt=""
        />
        <h1 class="text-center mh-middle" style="font-weight: 600;">
          {{subject}}
        </h1>
        <p class="text-center mh-bottom" style="font-size: 12px;">
          Offer expires on: {{ExpDate}}
        </p>
        <table class="row">
          <tbody>
            <tr></tr>
          </tbody>
        </table>
        <img
          style="width: 100%;"
          src="../assets/img/header-img-bottom.png"
          alt=""
        />
      </td>
    </tr>
  </tbody>
</table>
